<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>All links</title>
        <style>
            table,
            th,
            td {
              padding: 10px;
              border: 1px solid black;
              border-collapse: collapse;
              text-align: left;
            }
        </style>
    </head>
    <body>
        <button onclick="window.location.href='/create_link/'">
            Добавить новую
        </button>

        <table border="2">
            <thead><th>Id</th><th>Short link</th><th>Full link</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Short}}</td>
                <td>{{.Full}}</td>
                <td>
                    <a href="/delete_link/{{.Id}}">Удалить</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>